@charset "UTF-8";

/*DEFINIÇÃO DO ESTILO E CORES DO SITE*/
/*Reginaldo Cardoso Domingos */
/* https://www.w3.org/TR/css-fonts-3/ */


/*==================CORES DO SITE=================*/
/*
html {background-color:#B22B12;}
*/

/*********** Cores do brackground ***********/
/*branco*/
html,body {
    background-color: #ffffff;} 

/*cinza claro - destaque*/
.sectionhome1,.sectionhome2,#asideprox,#fichacadastro,#msgauto,
.nossaequipe {
    background-color: #ebeaea;}

/*Cinza escuro*/
.header-2,#tbf1sabado thead,#tbf1domingo thead, #tbgtsabado thead,
#tbgtdomingo thead,#tbf1sabado caption,#tbf1domingo caption,
#tbgtsabado caption,#tbgtdomingo caption{
    background-color: #444444;}

/*Vermelho ferrari - cor principal*/
nav#menu,.footerprincipal,.footerprincipal p, .footerprincipal nav a,
.atual{
    background-color: #ff2800 ;}

/*Preto*/
.tabelagts,.tabelaF1{
    background-color: #000;
}

/* Dar um pouco de destaque nos elementos quando clicar */
input:focus, textarea:focus {
	background-color: #d2e3fd;
}



/************* Cores das Fontes *************/
/*texto preto*/ 
p{
    color: #000000;}

/*texto vermelho ferrari*/ 
.h1paginas,.Tit-home,.tit-home2,.shadow b, .noticias-h3 a,
#pcampf1 thead,#pcampf1 caption,#pcampgts thead,#pcampgts caption,
#tbf1sabado thead,#tbf1domingo thead, #tbgtsabado thead,
#tbgtdomingo thead,#tbf1sabado caption,#tbf1domingo caption,
#tbgtsabado caption,#tbgtdomingo caption{
    color: #ff2800;}

/*texto branco*/
.header-2, #menu ul li a,.footerprincipal,.footerprincipal p, .atual,
.footerprincipal nav a,#artihome .shadow,.fundo a,#pcampf1, #pcampgts{
    color: #ffffff;}

/*texto cinza escuro*/
#menu ul li a:hover, .padrao #menu .current a, nav.current a, .noticias-e p,
.noticias-d p,#paginas a,#fichacadastro form, select,textarea,
input[type=tel],input[type=number],input[type=text],input[type=email],
#fichacadastro p, #fichacadastro div {
    color: #444444;}


/*************** Text Shadow ****************/
.h1paginas,.Tit-home, #artihome .shadow,.fundo a,#pcampf1 tr, 
#pcampgts tr,#tbf1sabado thead,#tbf1domingo thead,
#tbgtsabado thead,#tbgtdomingo thead, #tbf1sabado caption,#tbf1domingo caption,
#tbgtsabado caption,#tbgtdomingo caption {
    text-shadow: 2px 1px 1px #000000;
}

/************* Cores das bordas *************/
.footerprincipal {
    border-top: 10px solid #444444;}

/*borda vermelho*/
#fichacadastro form{
    border:2px solid #ff2800;
}

/*borda cinza escuro*/
fieldset,select,textarea,input[type=tel],input[type=number],
input[type=text],input[type=email]{ 
    border:1px solid #444444;
}


/*========== PADROES DO SITE =======================*/
img#logo {
    width:190px; 
    height:90px;
    /*width:418px; 
    height:200px;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
    
}
body{
/*    width: 1024px;*/
    font-size: 16px;
    margin:0 auto 0 auto;
}


/******************Fontes do site ****************/

/*fonte principal dos textos */
p, #articamp ul li, .sectionhome p, #regulamento ol li, 
.sctquemsomos ul li {
/*    font-family:'PT Serif Caption', serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding:0em 1em 0em 1em;
  
}

/* fonte dos titulos e subtituros*/

.header-2, .h1paginas, .footerprincipal,
.Tit-home, .tit-home2,.subtitulos,.noticias-h3{
	font-family: 'Racing Sans One', cursive;
}
   
#menu ul li a,#footersociais,#footernos {
/*
    font-family: "Andale Mono", monospace;
    font-family: 'Luckiest Guy', cursive;
	font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Fredoka One', cursive;
*/
	font-family: 'Righteous', cursive;

}

.assinatura {
	font-family: 'Homemade Apple', cursive;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    width: 400px;
    float: left;
    margin: inherit;
}

select,textarea,input[type=tel],input[type=number],
input[type=text],input[type=email],#fichacadastro p, #fichacadastro div{
    font-family:Courier, monospace;
}
.header-2 h2,h3.header-2,.header-2 h1{
    font-weight:200;}



.header-2{
    font-size: 14px; 
    text-transform:capitalize;
    padding-left: 1em;
}

h1.h1paginas{
    text-transform:capitalize;
    padding: inherit;
    text-align: center;
    font-style: normal;
	font-weight: 700;
	line-height:5px;
    font-size: 34px;
}

/*=======CONFIG DO MENU PRINCIPAL DA PAGINA============*/
.padrao{
    width: 100%;
    border: inherit;
    background: url(../images/padrao/header.jpg) #000;
    background-repeat:no-repeat;
}

#menu ul li{display:inline;}

#menu ul li a {
     /* topo, direita, base, esquerda */
    padding: 1em 1.5em 0em 1em; /*tamanho da borda do hoover*/
    /* padding-left:25px; */
	text-transform: uppercase;
	text-decoration: none;
	font-size: 25px; 
 
}
/*box-shadow: inset -1px 0px 10px 0px rgba(0,0,0,0.75);
testar como o menu princiapl*/

nav#menu{
    text-align: center;
/*    margin: -1px -8px 0px -8px;*/
}

#headersociais ul li, #headersociais ul li a{
    display:inline;
    text-align: right;
    padding-left: 0.2em;
 }
#headersociais{
    text-align: right;
    margin-right: 1em;
    margin-top: -50px;    
}

/*====CONFIG DO FOOTER PRINCIPAL DA PAGINA =======*/

.footerprincipal p {
	font-size: 0.7em; 
	text-align: center;
    padding-bottom:20px;
    margin-bottom: auto;
}

/*Menu sobre nos*/
#footernos,#footernos a{
	text-align: left;
	display: block;
    text-transform: uppercase;
	text-decoration: none;
	font-size: 25px; 
    padding-top: 10px;
    padding-left: 10px;
    float: left;

 }

/*Menu Redes Sociais*/
#footersociais{
    margin-right: 20px;
    text-align: right;
}

#footersociais ul li , #footersociais ul li a{
	font-size: 1em; 
	display:inline;
}

.logo-facebook,.logo-instagran, .logo-twitter, .logo-youtube{
    width: 40px;
    height:40px;
 }

.logo-facebook:hover,.logo-instagran:hover, 
.logo-twitter:hover, .logo-youtube:hover,
#footernos:hover{
    opacity: 0.5;
}

.footerprincipal h3 {
	font-size: 0.8em;
    padding-right: 10px; 
    font-weight: 100;
}



/*=====CONFIG DOS POSICIONAENTOS DAS PAGINAS======*/
/*================================================*/
/*==================== HOME ======================*/
/*
p:active, h1:active, a:active {
    background-color: yellow;
}
*/
.mainpadrao{
    width: 1080px;
    margin: 0 auto 0 auto;
}

#artihome{
    width: 100%;
    margin: 0 auto 0 auto;
    height: 438px;
    background: url(../images/home/article.jpg);
    background-repeat: no-repeat;
    vertical-align:text-bottom;
   
}

#artihome p{
     vertical-align:text-bottom;
}

.Tit-home{
    padding: inherit;
    margin: inherit;
    font-size: 4.1em;
    padding: 10px;
    width: 38%;
 }

.tit-home2{
    font-size: 1.8em;
    text-align: center;
    font-weight: 300;
}

#artihome .shadow{
    font-size: 1.2em;
    width: 60%
}

.sectionhome1,.sectionhome2{
    float: left;
	width: 49%;
	height: auto; 
    text-align: center;
    
}

.sectionhome1 {
    margin: 0 1% 0 auto;
} 

.sectionhome2 {
    margin: 0 auto 0 1%;
/*    margin: 0 9% 0 1%;*/
} 

.sectionhome2 footer,.sectionhome1 footer{
    text-align: right;
}
#asidhome{
    clear: both;
    width: 1080px;
    margin: 0 auto 0 auto;
}

.noticias-e img, .noticias-d img{
    width: 200px;
    float: left;
    padding: 1px 10px 10px 5px;
}
.noticias-e, .noticias-d{
    float: left;
    width:510px;
    padding-left: 10px;
}

.noticias-e{
    margin-left: 15px;
}


.noticias-h3 a{
    text-decoration:none;
    display: block;
    font-size: 23px;
    font-weight:100;
  }
.noticias-e p,.noticias-d p{
    font-size: 15px;
 }

/*================================================*/
/*================ CAMPEONTATOS ==================*/

#articamp{
    width: 67%;
    float: left;
    margin: -16px 3% 0 auto;
}
#asideprox{
    width: 30%;
    float: left;
    margin: -16px auto 0 auto;
}

img.camp{
    width: 100%;
    margin-bottom: 15%;
    box-shadow: 3px 3px 2px #888888;
}

img.camp {
    width: 95%;
    margin: 10% 2.5% 5% 2.5%;
}

#asidcamp p {
    width: 190px;
    height: 80px;
    padding-top: 10px
}

#asidcamp{
    float: left;
    width: 15%;
    height: 20%;
    margin: 0 5% 0 4%;
    }

.fundo {
    background:url("../images/campeonatos/botao.png") #000000;
    background-repeat: no-repeat;
    background-size:100%;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #444444;
 }

.fundo a { 
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em}


.fundo:hover{
    background-image: url("../images/campeonatos/botao.png");
    background-size: 120% ;
    background-position: top;
    opacity: 0.7;}

#sectcamp{
    clear: both;
    width: 1080px;
    margin: 0 auto 0 auto;
}

#pcampf1, #pcampgts{
    float: left;
    font-size: 14px;
    text-align: left;
    padding:10px;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    margin-left: 2%
    
}

#pcampf1 tr, #pcampgts tr{
    padding-left: 2px;
}

#pcampf1 caption,#pcampgts caption{
    font-size: 18px;
}


#pcampf1 thead,#pcampf1 tfoot ,
#pcampgts thead, #pcampgts tfoot{
    text-align: center;
}
#pcampf1{
    background:url("../images/galeria/F1-004.jpg");
    width: 500px;
    background-repeat: no-repeat;
  }

#pcampgts{
    background:url("../images/galeria/GTS-002.jpg");
    width: 500px;
    background-repeat: no-repeat;
}


footer {
    clear: both;
}

/*==================================================*/
/*==================== ESPORT ======================*/

#artisport{
    width: 1080px;
    margin: 0 auto 0 auto;
}

#imgsport {
    float: right;
    background: transparent;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.fig-esport{
    float: left;
    display: block;
}

.sectionsport {
    float: left;
	width: 520px;
	height: auto;
    margin-left: 10px;
    margin-right: 10px;
} 

.sectionsport  p{
	padding:0em 1em 0em 0.5em;
}
.sectionsport  img{
    display: block;
    width: 480px;
    height: 267px;
    margin-left: 15px;
    text-align: center;
}
img.logosesport,.logosesport{ 
    width:100px; 
    height:20px;
    margin: 0 auto 0 auto;
    padding-left: 25%;
}


#artijogos {
    clear: both;
    margin-bottom: 10px;
    width: 1080px;
    margin: 0 auto 0 auto;
}

.fig-esport figcaption,.sectionsport footer p{
    font-size: 0.8em;
    text-align: center;
}

/*================================================*/
/*=============== CLASSIFICAÇÃO ==================*/

.tabelagts,.tabelaF1{
    text-align: center;
    padding: 10px;
    margin: auto;
}

.tabelaF1,.tabelagts{
    float: left;
}

#tbf1sabado,#tbf1domingo,#tbgtsabado,#tbgtdomingo{
    float: left;
    width: 520px;
    padding: 10px 30px 40px 30px;
    border: 1px solid #444444;
    color: white;
    vertical-align: middle;
}

.tabelaF1 td,.tabelagts td{
    border: 2px solid #444444;
}


#tbf1sabado thead,#tbf1domingo thead,
#tbgtsabado thead,#tbgtdomingo thead,
#tbf1sabado caption,#tbf1domingo caption,
#tbgtsabado caption,#tbgtdomingo caption{
    font-size: 1.1em;
}

.logo-class{
    padding-top:10px;
    width: 100px;
    position: relative;
    left: 10px;
}

#aisdeclass{
    width: 1080px;
    margin: 0 auto 0 auto;
    clear: both;
}


/*================================================*/
/*================== GALERIA =====================*/
.galeria{
    width: 1080px;
    margin: 0 auto 0 auto;
    /*     background: linear-gradient(to bottom right, #f2f2f2 0%, #f4f1f1 100%);*/
    /*        background:url("../images/padrao/textura3.jpg") #444444;*/
    /*        background-repeat:repeat;*/
}

#paginas ol li{display:inline;}

#paginas a{
    text-decoration: none;
    font-weight: 500;
}

#paginas {text-align: center;}

.atual{
	padding: 1px 2px;
}

.galeria figure {
    padding: 0;
    width: 530px;
    height:330px;
   
    float: left;
    margin: 0.2em;
    margin-bottom: 2em;
}
.galeria figure img{
    padding: 0;
    width: 530px;
    height: 330px;
    box-shadow: 2px 2px 5px #888888;
}

.galeria footer{
    height: 40px;
}

.galeria footer p{
    text-align: center;
    padding-top: 20px;
    
}

/*================================================*/
/*================= CADASTRO =====================*/
.subtitulos{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: inherit;
}

select,textarea,input[type=tel],input[type=number],
input[type=text],input[type=email],#fichacadastro p, #fichacadastro div{
    font-size: 14px;
    font-weight: 600;
}

#fichacadastro,.asidecadastro{
    margin-left: 4%;
    margin-right: 4%;
    float: left;
    width: 30%;
    
}

form .ajuste {
    text-align: right;
    margin: 1em 1em 1em 1em;    
    /* topo, direita, base, esquerda */
    font-size: 14px;
}

form .ajuste2 {
    margin: 1em 1em 1em 1em;    
    /* topo, direita, base, esquerda */
    font-size: 15px;
    font-weight: 600;
   
}
button{
    font-size: 18px;
    margin-bottom: 10px;
}

select,textarea,input[type=tel],input[type=number],
input[type=text],input[type=email]{ 
    font-size: 14px;
    /*box-shadow: 1px 1px 2px #333333;*/ 
}

/*select:hover,textarea:hover,input[type=tel]:hover,input[type=number]:hover,
input[type=text]:hover,input[type=email]:hover{ 
    font-size: 14px;
    box-shadow: 1px 1px 2px #333333;
    
}*/
input[type=tel]{
    width:157px;
}

input[type=number]{  
    width:109px;}


input[type=text],input[type=email]{  
    width:310px;
}

#regulamento{
    float: left;
    width: 60%;
    
}
#regulamento ol li{
    padding-bottom: 0.5em;
    text-align: justify
}
#fichacadastro p{
    padding: 1em;
}

.cadastro{
    text-align: center;
    font-size: 1.5em;
}
/*================================================*/
/*================ FALE CONOSCO ==================*/
#arti-fale,.nossaequipe{
    width: 1080px;
    margin: 0 auto 0 auto;
    padding-bottom: 0.5%;
}

.imgbox {
    width: 400px;
    height: auto;
    float: right;
    display: block;
    margin-left: 1em;
    padding: inherit;
}

footer {
    clear: both;
}

#msgauto input[type=text],#msgauto input[type=email],#msgauto textarea{  
    width:500px;
    font-size: 25px;}

#msgauto{
      padding-left:1em;
}
#msgauto p{
    font-size: 22px;
    padding-left:0;
    padding-top:10px;
    margin-top: 5% ;
}
/*================================================*/
/*================= REFERENCIAS ==================*/

/* unvisited link */
/*
a:link {
    color: green;
}
*/

/* visited link */
/*
a:visited {
    color: green;
}
*/

/* mouse over link */
/*
a:hover {
    color: red;
}
*/

/* selected link */

/*
a:active {
    color: yellow;
} 
*/


 
/*CORES*/
/* http://encycolorpedia.pt */
/*http://webcolourdata.com/*/
/*https://brandcolors.net*/
/*
branco - #ffffff;
preto - #111111;
vermelhor ferrari - #ff2800;
anti-flash white- #f2f3f4;
*/


/*FONTES*/
/*https://www.w3.org/Style/Examples/007/fonts.pt_BR.html*/

/*Icones*/
/*https://icomoon.io/*/

/*https://medium.com/@eduagni/html5-entendendo-a-estrutura-e-a-sem%C3%A2ntica-db5f17808c7*/
